.autocomplete{
    background-color: #fff !important;
    border-color: #fff !important;
    color: #495057 !important;
}
.autocomplete:hover{
    background-color: #fff !important;
    border-color: #fff !important;
    color: #495057 !important;
}
