<nb-layout windowMode>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>
  <nb-sidebar
    *ngIf="authService.isLogged()"
    [ngClass]="flag ? 'compacted' : ''"
    class="menu-sidebar"
    tag="menu-sidebar"
    responsive
  >
    <app-menu></app-menu>  
    <!-- <div class="sidebar-toogle-button" (click)="toggle()">
      <nb-icon *ngIf="flag" icon="chevron-left-outline"></nb-icon>
      <nb-icon *ngIf="!flag" icon="chevron-right-outline"></nb-icon>
    </div>   -->
  </nb-sidebar>
  <nb-layout-column>
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
