
  ::ng-deep .nb-theme-dark .my-table .ng2-smart-action.ng2-smart-action-add-add {
    font-size: 1rem !important;
  }
  
  ::ng-deep .nb-theme-dark .my-table .ng2-smart-action.ng2-smart-action-add-create {
    font-size: 1rem !important;
  }
  
  ::ng-deep .nb-theme-dark .my-table .ng2-smart-action.ng2-smart-action-add-cancel {
    font-size: 1rem !important;
  }
  
  ::ng-deep .nb-theme-dark .my-table .ng2-smart-actions .ng2-smart-action-edit-edit {
    font-size: 1rem !important;
  }
  
  ::ng-deep .nb-theme-dark .my-table .ng2-smart-actions .ng2-smart-action-delete-delete {
    font-size: 1rem !important;
  }
  
  ::ng-deep .nb-theme-dark .my-table .ng2-smart-actions .ng2-smart-action-edit-save {
    font-size: 1rem !important;
  }
  
  ::ng-deep .nb-theme-dark .my-table .ng2-smart-actions .ng2-smart-action-edit-cancel {
    font-size: 1rem !important;
 
  }
  ::ng-deep .nb-theme-dark .my-table  input{
    color: #495057 !important;
  }
  ::ng-deep .nb-theme-dark .my-table  input[type='checkbox']{
    height: 1.5rem !important;
  }