<div class="row">
    <div class="col-3">
        <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary" class="nd-card-select-group" [size]="'large'">
            <nb-card-header>Фізичні особи</nb-card-header>
            <input type="text"  [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="SearchText" (keyup)="onKey($event)" nbInput fieldSize="medium" placeholder="Поиск">
            <nb-card-body>
            <nb-list>
                <nb-list-item  *ngFor="let item of list" (click)="ItemOnClick($event, item)">
                <div >
                    Ім'я: {{item.name}} <br>
                    Призвище: {{ item.family }} <br>
                    Призвісько: {{item.surname}} <br>
                    ІНПП: {{item.INN}} <br>
                </div>
                </nb-list-item>
            </nb-list>
            </nb-card-body>
        </nb-card> 
    </div>
    <div class=" col">
        <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary" class="nd-card-form" [size]="'large'">
            <nb-card-header>Анкета: <button class="btn btn-success" (click)="NewPerson()">Новий клієнт</button>
                <span *ngIf="SelectedItem"> 
                    {{ SelectedItem.family }} {{SelectedItem.name}} {{SelectedItem.surname}}  {{SelectedItem.INN}}
                    </span>
                
        </nb-card-header>
  
        <nb-card-body>
            <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
                <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                <button type="submit" class="btn btn-success">Затвердити</button>
              </form>
        </nb-card-body>  
    </nb-card> 
    </div>
</div>