
.logo{
    height: 60px;
}
.spacer{
    margin-right: auto;
}
.button{
    border-radius: 25px;
    color: white;
    border: 1px solid gray;
    padding: 10px 15px;
    text-decoration: none;
    margin-left: 10px;
}
.button:hover{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12) !important;
}