<div class="row">
    <div class="col-sm col-md-3 col-lg-3 col-xl-3">
        <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary" class="nd-card-select-group col search-card" >
            <nb-card-header>Фізичні особи</nb-card-header>
            <nb-card-body>
            <nb-list class="col flex-grow-1 align-self-stretch">
                <nb-list-item  *ngFor="let item of list" (click)="ItemOnClick($event, item)">
                <div >
                    Ім'я: {{item.name}} <br>
                    Призвище: {{ item.family }} <br>
                    Призвісько: {{item.surname}} <br>
                    ІНПП: {{item.INN}} <br>
                </div>
                </nb-list-item>
            </nb-list>
            </nb-card-body>
            <input class="search-card__input col w-100 input-full-width" type="text"  [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="SearchText" (keyup)="onKey($event)" nbInput  placeholder="Поиск">
        </nb-card> 
        
    </div>
    <div class="col-sm col-md-9 col-lg-9 col-xl-9">
        <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary" class="nd-card-form" >
            <nb-card-header>Анкета: <button class="btn btn-success" (click)="NewPerson()">Новий клієнт</button>
                <span *ngIf="SelectedItem"> 
                    {{ SelectedItem.family }} {{SelectedItem.name}} {{SelectedItem.surname}}  {{SelectedItem.INN}}
                </span>
                <button *ngIf="SelectedItem" class="btn btn-success" (click)="download()">Завантажити</button>                
        </nb-card-header>
  
        <nb-card-body>
            <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
                <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                <button type="submit" class="btn btn-success">Затвердити</button>
              </form>
        </nb-card-body>  
    </nb-card> 
    </div>
</div>