::ng-deep .mat-ink-bar {
  background-color: #3366ff !important;
}
::ng-deep .mat-tab-label-content {
  color: white !important;
}
::ng-deep .mat-tab-body-content {
  padding: 3rem 0 !important;
}
::ng-deep .mat-ripple{
  color: #3366ff;
}
::ng-deep nb-tabset > ul { overflow-x: auto; overflow-y: hidden; }
::ng-deep nb-tabset .tab{
  white-space: nowrap;
}