<div class="row">
  <div class="col-sm col-md-3 col-lg-3 col-xl-3">
    <nb-card
      [nbSpinner]="isLoading"
      nbSpinnerSize="giant"
      nbSpinnerStatus="primary"
      class="nd-card-select-group col search-card"
    >
      <nb-card-header>Юридична особи</nb-card-header>
      <nb-card-body class="p-2">
        <nb-list class="col p-1 flex-grow-1 align-self-stretch">
          <nb-list-item
            *ngFor="let item of list"
            (click)="SearchListItemOnClick($event, item)"
          >
            <div>
              Ім'я: {{ item.shortName }} <br />
              ЄДР: {{ item.clientCode }} <br />
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <input
        class="search-card__input col w-100 input-full-width"
        type="text"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="SearchText"
        (keyup)="Search($event)"
        nbInput
        placeholder="Поиск"
      />
    </nb-card>
  </div>
  <div class="col-sm col-md-9 col-lg-9 col-xl-9">
    <nb-card
      [nbSpinner]="isLoading"
      nbSpinnerSize="giant"
      nbSpinnerStatus="primary"
      class="nd-card-form"
    >
      <nb-card-header>
        <span *ngIf="SelectedItem">
          Анкета: {{ SelectedItem.shortName }} {{ SelectedItem.clientCode }}
        </span>
      </nb-card-header>

      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="Submit(model)">
          <formly-form
            [form]="form"
            [model]="model"
            [fields]="fields"
            [options]="options"
          >
          </formly-form>
          <button type="submit" nbButton hero status="success">
            Затвердити
          </button>
          <button nbButton hero status="success" type="button" class="ml-2" (click)="New()">
            Новий клієнт
          </button>
          <button
            *ngIf="SelectedItem"
            nbButton
            hero
            status="success"
            class="ml-2"
            type="button"
            (click)="Download()"
          >
            Завантажити
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
